.login-register-form {
    max-width: 30em;
    margin: 12em auto;
    padding: 3em;
    background: var(--red);
    border-radius: 1em;
    box-shadow: 0.1em 0.1em var(--black);
}

.input-field input, .input-field select {
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    background: var(--white);
    color: var(--black);
    border-radius: 1em;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: 0.1em 0.1em var(--black);
}

label {
    margin-top: 0.5em;
    padding-left: 0.5em;
    display: block;
    font-size: 1em;
    color: var(--white);
}

.text-info {
    padding: 0.5em;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--white);
}

.input-field, .asterisk-info {
    display: block;
    margin-bottom: 1em;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    font-size: clamp(0.1em, 6vw, 1.2em)
}

.button-page-swap-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.submit-button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

.close-button {
    width: none;
    margin-left: 1em;
    background: var(--black);
    border-radius: 0;
  }

@media screen and (max-width: 400px) {
    .button-page-swap-wrapper {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }
}