.greeting {
    text-align: center;
    color: var(--white);
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1em;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--red);
    background-clip: border-box;
    border: 0.1em solid var(--black);
    border-radius: 1em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1em; 
}

.picture-card {
    grid-column-start: 1;
    grid-column-end: 2;
}

.profile-img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}