.greeting {
    text-align: center;
    color: var(--white);
}

.container {
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}

.card {
    margin: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1em;
    background-color: var(--red);
    background-clip: border-box;
    border: 0.1em solid var(--black);
    border-radius: 1em;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.intro-card {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 2em;
    justify-content: space-around;
}

.order-card {
    min-width: 30%;
}

.profile-img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

.section-title {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}

.section-text {
    word-break: break-all;
}

.user-info {
    text-align: center;
}

.order-table {
    table-layout: fixed;
    word-break: break-all;
    background-color: var(--grey-light);
    border-width: 0.1em;
    border-color: var(--black);
    border-style: solid;
    border-collapse: collapse;
    color: var(--black);
}

.table-header, .table-cell {
    text-align: center;
    border-width: 0.1em;
    border-color: var(--black);
    border-style: solid;
    padding: 0.2em;
}

.table-header {
    color: var(--white);
}

.table-header-list {
    background-color: var(--black);
}

@media screen and (max-width: 420px) {
    .greeting {
        font-size: 8vw;
    }
}

@media screen and (max-width: 220px) {
    .section-title {
        word-wrap: none;
        word-break: break-all;
    }
}