  * {
    font-family: 'Nunito', sans-serif;
  }
  
  body {
    width: full;
    margin: 0em auto;
    --main-color: #990f0f;
    --header-color: #ce1515;
    --text-color: #ffffff;
    --accent-color: #eecaca;
    --box-color: #000000;
    background-color: var(--main-color);
    font-weight: 400;
  }
  
  body > header {
    position: sticky;
    z-index: 1;
    top: 0em;
    display: flex;
    padding: 2em;
    margin: 0em;
    background-color: var(--header-color);
  }
  
  body > header h1 {
    flex-grow: 1;
    font-weight: 900;
  }
  
  body > header h1 a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.5em;
    text-shadow:4px 3px var(--box-color);
  }
  
  body > header form.login {
    display: grid;
    grid-template-columns: 7em 7em;
    gap: 0.4em;
  }
  
  body > header form.login input {
    grid-column-end: span 2;
  }
  
  main {
    margin: 0.5em 0em;
    padding: 0.5em;
  }

  main h2 {
    font-weight: 700;
  }
  
  main a {
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
  }

  .restaurants {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
  }

  .restaurants a {
    position: relative;
  }

  .restaurants img.center {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
  }

  .restaurants img.center:hover {
    opacity: 0.5;
  }

  .restaurants .middletext {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .restaurants a:hover .middletext{
    opacity: 1;
  }

  .restaurants a:hover img.center {
    opacity: 0.5;
  }

  .restaurants .label {
    background-color: var(--box-color);
    z-index: 1;
    position: relative;
    text-align: center;
    align-self: center;
    transform: translate(0, 0);
  }

  footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--box-color);
    padding: 0.5em;
    color: white;
  }

  footer p.left {
    text-align: left;
    float: left;
  }

  footer p.right {
    text-align: right;
  }